/* Home Gallery Animations */

.appear {
    animation: appear 2s linear forwards 600ms;
}

.disappear {
    animation: disappear 2s linear forwards 500ms;
}

.block-hidden {
    clip-path: polygon(0% 100%, 0% 100%, 0% 100%);
}

@keyframes appear {
    0%,
    10% {
        clip-path: polygon(0% 100%, 0% 100%, 0% 100%);
    }

    50%,
    100% {
        clip-path: polygon(0% 100%, 0% -100%, 200% 100%);
    }
}

@keyframes disappear {
    0%,
    10% {
        clip-path: polygon(100% 0%, 100% 200%, -100% 0%);
    }

    50%,
    100% {
        clip-path: polygon(100% 0%, 100% 0%, 100% 0%);
    }
}

/* End of Home Gallery Animations */

/* About image */

.appear-horizontally {
    animation: horizontal-appear 800ms linear forwards;
}

.hide-horizontally {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

@keyframes horizontal-appear {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

/* End of about image */

/* magic line */

.magic-line {
    transition: left 200ms ease-in-out;
}

.width-transition {
    transition: left 200ms ease-in-out, width 300ms ease-in-out;
}
/* end of magic line */
