:root {
    --max-width: 1440px;
}

.btn {
    @apply bg-primary-500 text-white rounded py-3 cursor-pointer;
}

.btn:hover {
    @apply bg-gray-900 text-blue-100;
}

.rideau-container {
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
}

.section-title {
    @apply font-bold text-2xl text-primary-900;
}

.footer-title {
    @apply font-bold text-xl text-white mb-1 tracking-wide;
}

/* Spacing */

.std-padding-x {
    @apply px-4;
}

@screen md {
    .std-padding-x {
        @apply px-12;
    }
}

@screen lg {
    .std-padding-x {
        @apply px-20;
    }
}

.std-margin-x {
    @apply mx-4;
}

@screen md {
    .std-margin-x {
        @apply mx-12;
    }
}

@screen lg {
    .std-margin-x {
        @apply mx-20;
    }
}

.std-section-m-bottom {
    @apply mb-12;
}

@screen md {
    .std-section-m-bottom {
        @apply mb-24;
    }
}

.std-section-m-top {
    @apply mt-12;
}

@screen md {
    .std-section-m-top {
        @apply mt-24;
    }
}

/* End of Spacing */
